#  This is a template file.  Rename this file to secret_settings.py and replace the logins
#  with the database credentials of your Django instance.

# Do not publicly post your database credentials in your source code!
 
DATABASES = {
   'default': {
        'ENGINE'    : 'django.db.backends.mysql',
        'NAME'      : 'EventFinderDB',
        'USER'      : 'John Hancock',
        'PASSWORD'  : 'Get your own password',
        'HOST'      : 'localhost',
        'PORT'      : '3306'
    }  
}
